/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 63%;
    }

    textarea{
        padding: 5px;
    }

    /* The Close Button */
    .close {
        color: #ffffff;
        position: absolute;
        float: right;
        height: 2rem;
        width: 2rem;
        font-weight: bold;
        transform: translate(50%, -118%);
        padding: 5px;
        border-radius: 100%;
        text-align: center;
        background: darkblue;
    }

    .close:hover,
    .close:focus {
    background: dodgerblue;
    text-decoration: none;
    cursor: pointer;
    }

    @media (max-width: 600px){
        textarea{
            padding: 5px;
            width: 170px;
        }
    }